[project]
	description = 4agar
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Eve (naomiEve)
[access "refs/for/refs/*"]
	read = group user/Eve (naomiEve)
	push = group user/Eve (naomiEve)
	label-Code-Review = -2..+2 group user/Eve (naomiEve)
	label-Verified = -1..+1 group user/Eve (naomiEve)
	rebase = group user/Eve (naomiEve)
	removeReviewer = group user/Eve (naomiEve)
	submit = group user/Eve (naomiEve)
[access "refs/heads/*"]
	read = group user/Eve (naomiEve)
	create = group user/Eve (naomiEve)
	push = +force group user/Eve (naomiEve)
	pushMerge = group user/Eve (naomiEve)
[access "refs/tags/*"]
	push = +force group user/Eve (naomiEve)
	pushTag = group user/Eve (naomiEve)
	pushSignedTag = group user/Eve (naomiEve)
